<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lesson.software_structure.mapper.QuestionMapper">
    <delete id="delQuestionByIds">
        delete from db01.question where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="getQuestionByIds" resultType="com.lesson.software_structure.pojo.Question">
        select id, question_text, correct_answer from software_structure.question where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>